
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div>
        <h3>Распродажа игрушек</h3>
        <table>
            <tr class="header">
                <td><p>Название игрушки</p></td>
                <td><p>Производитель</p></td>
                <td><p>Цена</p></td>
            </tr>
           @foreach (var item in ViewBag.Toys)
            {
                <tr>
                    <td><p>@item.Title</p></td>
                    <td><p>@item.Firm</p></td>
                    <td><p>@item.Price</p></td>
                    <td><p><a href="~/Home/Buy/@item.Id">Купить</a></p></td>
                </tr>
            }
        </table>
    </div>
